@page "{id:int}"
@model CoronaVirusApp.Pages.Disease.DeleteModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete @Model.Disease.Name</h1>

<div class="container">
    <div class="alert alert-dark">
        Are you sure you want to confirm this information about @Model.Disease.Name?
    </div>
    <form method="post">
        <button type="submit" class="btn btn-danger">Yes!</button>
        <a asp-page="./List" class="btn btn-outline-dark">Cancel</a>
    </form>
</div>