@page
@model CoronaVirusApp.Pages.Managment.Roles.DeleteModel
@{
    ViewBag.Title = "Deleting Role";
}


<h2>Deleting Role: @Model.ApplicationRole.Name</h2>
<br />
<div class="container">
    <div class="alert alert-dark">
        Are you sure you want to delete @Model.ApplicationRole.RoleName?
    </div>
    <form method="post">
        <div class="form-group">
            <button type="submit" class="btn btn-danger">Yes!</button>
            <a asp-page="./Index" class="btn btn-outline-dark">Cancel</a>
        </div>
    </form>
</div>