@page
@model CoronaVirusApp.Pages.Managment.Roles.EditModel
@{
    ViewData["Title"] = "Edit Role";
}



@if (Model.ApplicationRole.Id == null)
{
    <h1>Create new Role</h1>
}
else
{
    <h1>Edit Role: @Model.ApplicationRole.RoleName </h1>
}
<hr />
<div class="container">
    <form method="post">
        <input type="hidden" asp-for="ApplicationRole.Id" />

        <div class="form-row">
            <label asp-for="ApplicationRole.RoleName"></label>
            <input class="form-control" asp-for="ApplicationRole.RoleName" />
            <span class="text-danger" asp-validation-for="ApplicationRole.RoleName"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
            <a class="btn btn-secondary" asp-page="./Index">Back to List</a>
        </div>
    </form>
</div>