@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the COVID-19 App</h1>
    <p>Get info about Covid-19 here.</p>
</div>
