@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the COVID-19 App</h1>
    <p>Here you can learn about the patients, diseases, doctors and clinics that are trying to prevet the COVID-19.</p>
</div>
