@page
@{
    ViewBag["Title"] = "Products NotFound";
}

<div>
    <h2 class="text-center">The Resource you have been looking for cannot be found!</h2>
    <a asp-page="Index" class="btn btn-outline-secondary">Click here to get back Home</a>
</div>