@page
@model CoronaVirusApp.Pages.Doctor.DeleteModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Fire @Model.Doctor.FirstName</h1>

<div class="container">
    <div class="alert alert-dark">
        Are you sure you want to fire @Model.Doctor.FirstName?
    </div>
    <form method="post">
        <button type="submit" class="btn btn-danger">Yes!</button>
        <a asp-page="./List" class="btn btn-outline-dark">Cancel</a>
    </form>
</div>