@page
@model CoronaVirusApp.Pages.Doctor.EditModel
@{
    ViewData["Title"] = "Edit";
}

@if (Model.Doctor.Id == 0)
{
    <h1>Hire a new Doctor</h1>
}
else
{
    <h1>Edit doctor information: @Model.Doctor.FirstName</h1>
}


<div class="container">
    <form method="post">
        <input type="hidden" asp-for="Doctor.Id" />

        <div class="form-row">
            <label asp-for="Doctor.FirstName"></label>
            <input class="form-control" asp-for="Doctor.FirstName" />
            <span class="text-danger" asp-validation-for="Doctor.FirstName"></span>
        </div>

        <div class="form-row">
            <label asp-for="Doctor.LastName"></label>
            <input class="form-control" asp-for="Doctor.LastName" />
            <span class="text-danger" asp-validation-for="Doctor.LastName"></span>
        </div>

        <div class="form-row">
            <label asp-for="Doctor.Age"></label>
            <input class="form-control" asp-for="Doctor.Age" />
            <span class="text-danger" asp-validation-for="Doctor.Age"></span>
        </div>

        <div class="form-row">
            <label asp-for="Doctor.JobTitle"></label>
            <input class="form-control" asp-for="Doctor.JobTitle" />
            <span class="text-danger" asp-validation-for="Doctor.JobTitle"></span>
        </div>

        <div class="form-row">
            <label asp-for="Doctor.Phone"></label>
            <input class="form-control" asp-for="Doctor.Phone" />
            <span class="text-danger" asp-validation-for="Doctor.Phone"></span>
        </div>

        <div class="form-row">
            <label asp-for="Doctor.Email"></label>
            <input class="form-control" asp-for="Doctor.Email"/>
            <span class="text-danger" asp-validation-for="Doctor.Email"></span>
        </div>

        <button type="submit" class="btn btn-success">Save</button>
        <a asp-page="./List" class="btn btn-primary">Back</a>
    </form>
</div>