@page "{id:int?}"
@model CoronaVirusApp.Pages.Clinic.EditModel
@{
    ViewData["Title"] = "Edit";
}

@if (Model.Clinic.Id == 0)
{
    <h1>Create new clinic</h1>
}
else
{
    <h1>Editing membership: @Model.Clinic.Name</h1>
}

<form method="post">
    <input type="hidden" asp-for="Clinic.Id" />
    <div class="form-row">
        <div class="form-group col-sm-6">
            <label asp-for="Clinic.Name"></label>
            <input class="form-control" asp-for="Clinic.Name" />
            <span class="text-danger" asp-validation-for="Clinic.Name"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-sm-6">
            <label asp-for="Clinic.City"></label>
            <input class="form-control" asp-for="Clinic.City" />
            <span class="text-danger" asp-validation-for="Clinic.City"></span>
        </div>
        <div class="form-group col-sm-6">
            <label asp-for="Clinic.Capacity"></label>
            <input class="form-control" asp-for="Clinic.Capacity" />
            <span class="text-danger" asp-validation-for="Clinic.Capacity"></span>
        </div>
    </div>
    <button type="submit" class="btn btn-success">Save</button>
    <a asp-page="./List" class="btn btn-primary">Back</a>
</form>



